.projectItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden
}

.projectItem {
  width: 330px;
  border: 1px solid var(--accent-color);
  margin: 20px 10px;
  overflow: hidden;
  transition:  0.3s ease-in-out;
}

.projectItem:hover {
  box-shadow: 0 0 20px rgba(0, 255, 191, 0.7);
}

.projectImg {
  height: 201px;
  width: 330px;
  border-bottom: 1px solid var(--accent-color);
  transition: transform 0.3s; 
  object-fit: cover;
}

.projectImg:hover {
  transform: scale(1.1); /* Zoom in by 10% when hovered */
}

.tools {
  color: var(--gray, var(--accent-color));
  font-family: FiraCode;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  border-bottom: 1px solid var(--accent-color);
}

.projectTitle {
  color: var(--white, #FFF);
  font-family: FiraCode;
  font-size: 24px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.descriptionBox {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 1200px) {

}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  .projectItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
  }

  .projectItem {
    width: 90%;
    border: 1px solid var(--accent-color);
    margin: 20px auto;
    overflow: hidden;
    transition:  0.3s ease-in-out;  }

    .projectImg {
      width: 100%
    }
  }
