.skillContainer {
  display: flex;
  justify-content: space-between;
}

.skillIcons {
  width: 349px;
  height: 282px;
  background-color: purple
}

.skillModules {
  width: 584px;
}

.skillModule {
  border: 1px solid #ABB2BF;
  width: 178px
}

.skillModule > h4 {
  border-bottom: 1px solid #ABB2BF;
  padding: 8px;
  color: var(--white, #FFF);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.skillModule > div {
  width: inherit;
  word-wrap: break-word;
  padding: 8px
}