header {
  width: inherit;
  display: flex;
  align-items: flex-start;
  padding: 32px 0px 8px 0px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  position: fixed;
  top: 0;
  width: 90%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(1px); /* Blurring effect */
  z-index: 1000;
}

.nav-bar > h1 {
  font-size: 16px;
  cursor: pointer;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: none
}

/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 00px) {
 
}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  /* .nav-list {
    display: block;
  }

  .nav-list > li {
    padding: 10px 0px
  }

  .nav-list > li > a{
    text-decoration: none;
    color:  #ABB2BF;
    font-family: FiraCode;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  } */

  .menu {
    display: flex;
    cursor: pointer;
  }

  .menu:hover {
    opacity: 0.7;
  }
}
