.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px 0px 8px 0px;
  align-items: center;
}

.nav-bar > h1 {
  font-size: 16px
}

.nav-bar > .nav-list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  list-style-type: none;
}

.nav-list > li > a{
  text-decoration: none;
  color:  #ABB2BF;
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.nav-list a:hover,
.nav-list a:active {

  color: white;
  text-decoration: underline;
}

.nav-list > li > span {
  color: #C778DD
} 

/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 00px) {
 
}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  .nav-list > li > a{
    text-decoration: none;
    color:  #ABB2BF;
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
}