header {
  display: flex;
  align-items: flex-start;
  padding: 32px 0px 8px 0px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar > h1 {
  font-size: 16px
}

.nav-list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  list-style-type: none;
}

.nav-list > li > a{
  text-decoration: none;
  color:  #ABB2BF;
  font-family: FiraCode;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.nav-list a:hover,
.nav-list a:active {

  color: white;
  text-decoration: none;
}

.nav-list > li > span {
  color: #008080
} 

.menu {
  display: none
}

/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 00px) {
 
}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  .nav-bar {
    display: block;
  }

  .nav-list {
    display: block;
  }

  .nav-list > li {
    padding: 10px 0px
  }

  .nav-list > li > a{
    text-decoration: none;
    color:  #ABB2BF;
    font-family: FiraCode;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  .menu {
    display: flex;
    cursor: pointer;
  }

  .menu:hover {
    opacity: 0.7;
  }
}