:root {
  font-family: "Fira Code", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282C33;

  --primary: #C778DD,
  --gray: #ABB2BF,
  --white: #FFFFFF,
}

.section {
  padding: 30px 0px;
  width: 100%
}

.container {
  padding: 0px 171px;
}

.titles {
  color: var(--white, #FFF);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.titleNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px
}

.titleNav a {
  text-decoration: none;
  color: white
}

.line {
  height: 1px;
  width: 40%; 
  background-color: #C778DD;
  padding: 0px 100px 0px 40px
}

span {
  color: #C778DD;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.purpleButton {
  font-family: Fira Code;
  border: 1px solid #C778DD;
  padding: 8px 16px;
  background-color: rgba(199,120 ,221, 0);
  transition: background-color 0.3s ease-in-out;
}

.purpleButton:hover{
  background-color: rgba(199,120 ,221, 0.5);
}
/* Create a button for the site */