/* Importing the firacode font globally */
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Regular.ttf') format('truetype'),
       url('/fonts/Firacode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally to the body element or any other element */
* {
  font-family: 'FiraCode', sans-serif;
}

:root {
  font-family: "FiraCode", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282C33;

  --primary: #C778DD,
  --gray: #ABB2BF,
  --white: #FFFFFF,
}


.section {
  padding: 30px 0px;
  width: 100%
}

.titles {
  color: var(--white, #FFF);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.titleNav {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0px
}

.linkNav {
  display: flex;
  align-items: center;
}

.linkNav a {
  width: 100px;
  text-decoration: none;
  color: white
}

.line {
  height: 1px;
  width: 20%; 
  background-color: #008080;
  padding: 0px 100px 0px 40px;
  margin: 0px 20px
}

span {
  color: #008080;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.purpleButton {
  cursor: pointer;
  font-family: FiraCode;
  border: 1px solid #008080;
  padding: 8px 16px;
  background-color: rgba(199,120 ,221, 0);
  transition: background-color 0.3s ease-in-out;
}

.purpleButton > a {
  text-decoration: none;
  color: white
}

.purpleButton:hover{
  background-color: #008080;
}
/* Create a button for the site */


/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 1200px) {

}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  .linkNav a {
    font-size: 0.8em;
  }
 .titles {
  font-size: 1.1rem;
 }
 .line {
  width: 2px
 }

 .line {
  display: none
 }
}
