.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  font-size: 16px;
  /* padding: 5px */
}

.outro {
  width: 505px;
  color: var(--gray, #ABB2BF);
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.box {
  border: 1px solid var(--gray, #ABB2BF);
  margin: 20px 0px
}

.message {
  color: var(--white, #FFF);
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px
}

.contacts {
  padding: 10px;
  color: var(--gray, #ABB2BF);
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 1200px) {
 
}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  .content {
    display: block;
    font-size: 12px;
  }
  .outro {
    width: inherit;
  }
}