.bio {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bio > img {
  width:  420px;
  padding: 20px;
}
.bioText {
  color: var(--gray, #ABB2BF);
  font-family: FiraCode;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.bioText > p {
  margin: 30px 0px
}

/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 1200px) {
  .bio > img {
    width:  300px;
  }
}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  .bio {
    display: block;
    font-size: 12px;
  }

  .bio > img {
    display: flex;
    width: 250px;
    margin: auto
  }
}