.container {
  padding: 0px 75px;
}

/* RESPONSIVE TABLET SCREENS */
@media screen and (max-width: 1200px) {
  .container {
    padding: 0px 50px;
  }
}
/* RESPONSIVE PHONE SCREENS */
@media screen and (max-width: 900px) {
  .container {
    padding: 0px 30px
  }
}